<header>
  <app-navbar></app-navbar>
  <app-country-search-bar></app-country-search-bar>
  <app-filter
    [showFilters]="showFilters"
    (iconClick)="onFilterIconClick()"
  ></app-filter>
</header>
<section id="countries-list">
  <app-loading *ngIf="isLoading"></app-loading>
  <div *ngIf="!isLoading">
    <app-country-card
      *ngFor="let country of countries"
      [name]="country.name.common"
      [continent]="country.continents[0]"
      [imageUrl]="country.flags.svg"
    >
    </app-country-card>
  </div>
</section>
