<app-navbar [backgroundColor]="'#3c73cb'"></app-navbar>
<div class="page container-col">
  <app-back-bar></app-back-bar>
  <app-loading *ngIf="isLoading"></app-loading>
  <ng-container *ngIf="selectedCountry && !isLoading">
    <div class="container-row selected-country">
      <div class="test">
        <app-country-profile
          [countryName]="selectedCountry.name.common"
          [countryFlagUrl]="selectedCountry.flags.svg"
          [capitalName]="selectedCountry.capital[0]"
        ></app-country-profile>
      </div>
      <div id="details" class="container-col">
        <app-country-info
          [population]="selectedCountry.population.toLocaleString()"
          [spokenLanguages]="languages"
        ></app-country-info>
        <app-gallery [country]="selectedCountry.name.common"></app-gallery>
      </div>
    </div>
    <div class="bordering-countries-section">
      <h1>Bordering countries</h1>
      <p *ngIf="borderingCountries.length == 0">none</p>
      <div
        class="container-row bordering-countries-list"
        *ngIf="borderingCountries.length > 0"
      >
        <app-country-card
          *ngFor="let borderingCountry of borderingCountries"
          [imageUrl]="borderingCountry.flags.svg"
          [continent]="borderingCountry.continents[0]"
          [name]="borderingCountry.name.common"
        ></app-country-card>
      </div>
    </div>
  </ng-container>
</div>
