.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    opacity: 90%;
}
h1{
    font-weight:600;
}
p{
    font-weight: 500;
}
a{
    font-weight: 600;
    color:#3a89b7;
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}
form{
    padding-top:100px;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
    border-radius: 7px;
}
button{
    margin-left: auto;
    margin-top:30px;
    display: flex;
    padding:8px 50px;
    border-radius: 30px;
    background-color: #3d8d7b;
    color:white;
    border-width: 0;
    cursor: pointer;
}
button:hover{
    opacity:70%;
}
@media (max-width:500px){
    a{
        display: block;
    }
    button{
        margin-left:auto;
        margin-right: auto;
    }
}